name: MATLAB tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  run-matlab-tests:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10']

    steps:
    - uses: actions/checkout@v4

    - name: Set up MATLAB
      id: setup-matlab
      uses: matlab-actions/setup-matlab@v2
      with:
        release: R2024b

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'

    - name: Set LD_LIBRARY_PATH for MATLAB
      run: echo "LD_LIBRARY_PATH=${{ steps.setup-matlab.outputs.matlab-root }}/bin/glnxa64:$LD_LIBRARY_PATH" >> $GITHUB_ENV

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r requirements-test.txt
        pip install -r requirements-matlab.txt
        pip install -e .

    - name: Rename MATLAB test file
      run: mv tdlm/tests/xtest_matlab_compatibility.py tdlm/tests/test_matlab_compatibility.py

    - name: Run MATLAB tests with pytest
      run: pytest -s -vv tdlm/tests/test_matlab_compatibility.py
